*{
    font-family: 'Alata';
    font-size: 1.5rem;
    :focus{
        outline: 2px solid rgb(236, 240, 10);
    }
}
header{
    margin: 0 auto;
    text-align: center;
    font-weight: 100;
}
.stencil{
    height: auto;
    max-width: 200px;
    margin: 0.15rem auto;
}
.container-fluid{ 
    margin: 0 auto;
    width: 80vw;
    &__header{
        margin: 0 auto;
        width: 80vw;
    }
    &__footer{
        background-color: rgb(0, 0, 0);
        color: rgb(255, 255, 255);
    }
}

.row{
    width: 80vw;
    margin: 1.5rem auto;
    
    &__quote{
    border: 1px solid black;
    border-radius: 1%;
    background-color: rgb(199, 187, 26);
    
    }
    &--btn, &--btn2{
        background-color: rgb(255, 255, 255);
        border: none;
    }
    &__footer{
        text-align: center;
        footer{
            padding: 0.5rem;
        }
    }
    &__stencil{
        margin: 0 auto;
    }
}
p.quoteP{
    padding-top: 0.5rem;
}
input{
    max-width: 50vw;
}

label{
    font-size: 0.85rem;
}

.btn{
    margin: 0 auto;
}

.pyramid{
    width: 80vw;
    height: auto;
    margin: 0 auto;
    padding: 1rem;
    &:hover{
        transform: scale(1.1);
        transition: all .3s ease-in-out;
        
    }
}

a{
    color: rgb(255, 255, 255);
    &:hover{
        text-decoration: none;
        color: rgb(27, 221, 235);
    }
}