*{
    font-family: monospace;
    font-size: 1.5rem;
    :focus{
        outline: 2px solid rgb(236, 240, 10);
    }
}
header{
    margin: 0 auto;
    text-align: center;
    font-weight: bold;
    font-size: 2rem;
    max-width: 75%;
    padding: 0.5vw;
}
.stencil{
    height: auto;
    max-width: 10vw;
    margin: 0.15rem auto;
    min-width: 5vw;
}

.container-fluid{ 
    margin: 0 auto;
    width: 80vw;
    &__header{
        margin: 0 auto;
        width: 100vw;
        background-color: #2b2b28;
        color: #f8f8f8;
    }
    &__footer{
        background-color: #2b2b28;
        color: #f1d6ab;
        text-align: center;
        width: 100vw;
        margin: 0 auto;
    }
}

.row{
    width: 70vw;
    margin: 2vw auto;
    &__quote{
    border: 1px solid black;
    border-radius: 1%;
    background-color: #e3b04b;
    }
    &--btn, &--btn2{
        background-color: rgb(255, 255, 255);
        border: none;
        width: 70vw;
    }
    &__footer{
        text-align: center;
        footer{
            padding: 0.5rem;
        }
    }
    &__stencil{
        display: flex;
        align-content: center;
        justify-content: center;
        width: 80vw;
        margin-left: 6vw;
    }
}
p.quoteP{
    padding-top: 0.5rem;
}
input{
    max-width: 50vw;
}

label{
    font-size: 0.85rem;
}

.btn{
    margin: 0 auto;
}
#submit{
    margin-top: 1vw;
}
#message{
    text-align: center;
}
.pyramid{
    width: 80vw;
    height: auto;
    margin: 0 auto;
    padding: 1rem;
    &:hover{
        transform: scale(1.05);
        transition: all .3s ease-in-out;
        
    }
}

a{
    color: #f1d6ab;
    &:hover{
        text-decoration: none;
        color: #f8f8f8;
    }
}