*{
    font-size: 1.5rem;
}
body{
    background-color: #2b2b28;
}
header{
    font-family: 'Roboto mono';
    margin: 0 auto;
    text-align: center;
    font-weight: bold;
    font-size: 1.5rem;
    max-width: 75%;
    padding: 0.5vw;
    letter-spacing: 2px;
    
}
    //MAIN CONTENT

.container-fluid{ 
    margin: 0 auto;
    width: 80vw;
    
    &__header{
        margin: 0 auto;
        width: 100vw;
        background-color: #2b2b28;
        color: #f8f8f8;
    }
    &__footer{
        color: #2b2b28;
        background-color: #e3b04b;
        text-align: center;
        width: 100vw;
        margin: 0 auto;
    }
}

.row{
    width: 70vw;
    margin: 2vw auto;
    border-radius: 30px;
    &__quote{
            font-family: Montserrat;
            border: 5px solid #f8f8f8;
            background-color: #e3b04b;
    }
    &--btn, &--btn2{
        background-color: #2b2b28;
        border: none;
        width: 70vw;
    }
    &__footer{
        text-align: center;
        margin: 0 auto;
        display: block;
        
        footer{
            font-size: 1.2rem;
            padding: 0.5rem;
        }
    }
    &__stencil{
        display: flex;
        align-content: center;
        justify-content: center;
        width: 80vw;
        margin-left: 6vw;
    }
}

p.quoteP{
    padding: 1rem;
}

    //FORM

label{
    font-size: 1.35rem;
}
.form-group{
    padding: 1rem;
}
input{
    max-width: 50vw;
    padding: 1rem;
}



    //BUTTONS
.btn{
    margin: 0 auto;
    font-family: 'Roboto mono';
}
#submit{
    letter-spacing: 1px;
    margin-top: 1vw;
    background-color: #e3b04b;
    border: 5px solid #f8f8f8;
    border-radius: 20px;
    color: #2b2b28;
    font-weight: bold;
    //this was the jackpot for changing the focus state
    &:focus{
        background-color: #2b2b28;
        color: #f8f8f8;
        cursor: pointer;
        text-decoration: underline;
    }
}
#random{
    margin-bottom: 1rem;
    color: #2b2b28;
    background-color: #e3b04b;
    border: 5px solid #2b2b28;
    border-radius: 20px;
    font-weight: bold;
    font-size: 1.2rem;
    letter-spacing: 2px;
//css below worked to change focus state
    &:focus{
        background-color: #2b2b28;
        color: #f8f8f8;
        cursor: pointer;
        text-decoration: underline;
    }
    &:active{
        text-decoration: none;
    }
}
#tryAgainBtn{
    background-color: #e3b04b;
    border: 5px solid #f8f8f8;
    border-radius: 20px;
    color: #2b2b28;
    font-weight: bold;
    &:focus{
        background-color: #2b2b28;
        color: #f8f8f8;
        cursor: pointer;
        text-decoration: underline;
    }
}
    //POP UP TEXT

#message{
    text-align: center;
    color: #f8f8f8;
}
#random2{
    font-family: 'Roboto mono';
    margin-bottom: 0.5rem;
    text-decoration: none;
}
//styles for correct and wrong answers
.green{
    font-weight: bolder;
    color: green;
}
.red{
    font-weight: bolder;
    color: red;
}
    //IMAGES

.pyramid{
    width: 80vw;
    height: auto;
    margin: 0 auto;
    padding: 1rem;
    &:hover{
        transform: scale(1.05);
        transition: all .3s ease-in-out;
        
    }
}

    //FOOTER
.copyright{
    
    font-size: 1.2rem;
    font-family: 'Roboto mono';
    padding: 0.5rem;
    color: #e3b04b;
    background-color: #2b2b28;
}
.credits{
    font-weight: bolder;
    margin-bottom: 0.5rem;
}

    //LINKS
a{
    color: #2b2b28;
    font-size: 1.2rem;
    &:hover{
        text-decoration: underline;
        color: #2b2b28;
    }
    &:focus{
        text-decoration: underline;
        outline: none;
    }
}